# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.buildlog/
.history
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
final_project_server/node_modules
/.pnp
.pnp.js
/client/node_modules

# testing
/coverage

# production
# /build

# misc
.DS_Store
final_project_server/.env
env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/settings.json
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
settings.json

.vscode/settings.json

22101895_489_Mid.zip
mid_term_map/22101895_489_Mid.zip
# Flutter repo-specific
final_project/bin/cache/
final_project/bin/internal/bootstrap.bat
final_project/bin/internal/bootstrap.sh
final_project/bin/mingit/
final_project/dev/benchmarks/mega_gallery/
final_project/dev/bots/.recipe_deps
final_project/dev/bots/android_tools/
final_project/dev/devicelab/ABresults*.json
final_project/dev/docs/doc/
final_project/dev/docs/flutter.docs.zip
final_project/dev/docs/lib/
final_project/dev/docs/pubspec.yaml
final_project/dev/integration_tests/**/xcuserdata
final_project/dev/integration_tests/**/Pods
final_project/packages/flutter/coverage/
final_project/version
final_projectanalysis_benchmark.json

# packages file containing multi-root paths
final_project/.packages.generated

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-preload-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Android related
final_project/**/android/**/gradle-wrapper.jar
final_project/.gradle/
final_project/**/android/captures/
final_project/**/android/gradlew
final_project/**/android/gradlew.bat
final_project/**/android/local.properties
final_project/**/android/**/GeneratedPluginRegistrant.java
final_project/**/android/key.properties
final_project/*.jks

# iOS/XCode related
final_project/**/ios/**/*.mode1v3
final_project/**/ios/**/*.mode2v3
final_project/**/ios/**/*.moved-aside
final_project/**/ios/**/*.pbxuser
final_project/**/ios/**/*.perspectivev3
final_project/**/ios/**/*sync/
final_project/**/ios/**/.sconsign.dblite
final_project/**/ios/**/.tags*
final_project/**/ios/**/.vagrant/
final_project/**/ios/**/DerivedData/
final_project/**/ios/**/Icon?
final_project/**/ios/**/Pods/
final_project/**/ios/**/.symlinks/
final_project/**/ios/**/profile
final_project/**/ios/**/xcuserdata
final_project/**/ios/.generated/
final_project/**/ios/Flutter/.last_build_id
final_project/**/ios/Flutter/App.framework
final_project/**/ios/Flutter/Flutter.framework
final_project/**/ios/Flutter/Flutter.podspec
final_project/**/ios/Flutter/Generated.xcconfig
final_project/**/ios/Flutter/ephemeral
final_project/**/ios/Flutter/app.flx
final_project/**/ios/Flutter/app.zip
final_project/**/ios/Flutter/flutter_assets/
final_project/**/ios/Flutter/flutter_export_environment.sh
final_project/**/ios/ServiceDefinitions.json
final_project/**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
final_project/**/Flutter/ephemeral/
final_project/**/Pods/
final_project/**/macos/Flutter/GeneratedPluginRegistrant.swift
final_project/**/macos/Flutter/ephemeral
final_project/**/xcuserdata/

# Windows
final_project/**/windows/flutter/generated_plugin_registrant.cc
final_project/**/windows/flutter/generated_plugin_registrant.h
final_project/**/windows/flutter/generated_plugins.cmake

# Linux
final_project/**/linux/flutter/generated_plugin_registrant.cc
final_project/**/linux/flutter/generated_plugin_registrant.h
final_project/**/linux/flutter/generated_plugins.cmake

# Coverage
final_project/coverage/

# Symbols
final_project/app.*.symbols

# Exceptions to above rules.
final_project/!**/ios/**/default.mode1v3
final_project/!**/ios/**/default.mode2v3
final_project/!**/ios/**/default.pbxuser
final_project/!**/ios/**/default.perspectivev3
final_project/!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
final_project/!/dev/ci/**/Gemfile.lock

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
project/final_project_server/node_modules
project/final_project/build
/.pnp
.pnp.js
/client/node_modules

# testing
/coverage

# production
# /build

# misc
.DS_Store
env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/settings.json
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
settings.json


final_project_server/.vscode/settings.json
final_project_server/fly.toml
final_project_server/Dockerfile
.env
final_project_server/.dockerignore